GCP_PROJECT_ID=seu-projeto-gcp
GCP_BUCKET_NAME=seu-bucket-gcs
BIGQUERY_DATASET=camara_analytics
GOOGLE_APPLICATION_CREDENTIALS=credentials/sua-service-account.json
API_BASE_URL=https://dadosabertos.camara.leg.br/api/v2
DEFAULT_YEAR=2026
DEFAULT_MONTH=3
