# Environment variables
.env

# Credentials
credentials/
*.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log
logs/

# Airflow
airflow/logs/
airflow/plugins/
airflow/config/

# OS
.DS_Store
Thumbs.db